<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="$parent.email", name="email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="$parent.pw", name="pw">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit", ng-click="login()">Log in</button>
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit", ng-click="doSignUp()">Sign up</button>
        </label>

      </div>
    </form>
  </ion-content>
</ion-modal-view>
